@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;700;800;900&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Vazirmatn", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

body {
  font-family: var(--font-sans);
  direction: rtl;
  background-color: #f8fafc;
  color: #0f172a;
}

/* پنهان‌سازی عناصر خاص به هنگام دستور چاپ فاکتور */
@media print {
  .no-print {
    display: none !important;
  }
  body {
    background-color: white !important;
    color: black !important;
  }
  #sidebar-container, #primary-app-header {
    display: none !important;
  }
  .A4-paper {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }
}
